Repository DeterminateSystems/nix-installer, pull requests merged in 2023-06, with the labels that each got.

#496 Trigger buildkite on external prs
  .github/workflows/buildkite-external-prs.yaml
Labels: github_actions

#495 Support for SteamOS Nix Offload in SteamOS 20230522.1000
  src/action/base/create_directory.rs
  src/action/linux/ensure_steamos_nix_directory.rs
  src/action/linux/mod.rs
  src/action/linux/start_systemd_unit.rs
  src/action/linux/systemctl_daemon_reload.rs
  src/action/mod.rs
  src/planner/mod.rs
  src/planner/steam_deck.rs
Labels: upload to s3

#502 Fix uninstalling on latest steam deck with offload
  src/action/base/setup_default_profile.rs
  src/action/linux/mod.rs
  src/action/linux/revert_clean_steamos_nix_offload.rs
  src/action/mod.rs
  src/planner/steam_deck.rs
Labels: Steam Deck

#525 swap fortune for hello in CI workflow
  .github/workflows/ci.yml
Labels: MacOS

#524 Restore user creation on Mac
  src/action/base/add_user_to_group.rs
  src/action/base/create_user.rs
  src/action/base/mod.rs
  src/action/common/create_users_and_groups.rs
  src/action/common/mod.rs
  src/action/common/place_nix_configuration.rs
  src/action/common/provision_nix.rs
  src/planner/linux.rs
  src/planner/macos.rs
  src/planner/steam_deck.rs
  src/settings.rs
  tests/fixtures/linux/linux.json
  tests/fixtures/linux/steam-deck.json
  tests/fixtures/macos/macos.json
Labels: MacOS

#546 bugfix: Let Mac users specify encryption directly
  src/planner/macos.rs
Labels: bug, MacOS
